In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("hwk1-task2-corals.ipynb")

ModuleNotFoundError: No module named 'otter'

# Task 2: Exploring coral diversity data

## Instructions 

- First, update the following cell to have a link to *your* Homework 1 GitHub repository:

**UPDATE THIS LINK:**

https://github.com/ryangreen6/eds220-hwk1

- This task covers topics on the lesson on [subsetting `pandas.DataFrames`](https://meds-eds-220.github.io/MEDS-eds-220-course/book/chapters/lesson-3-pandas-subsetting/lesson-3-pandas-subsetting.html). The best strategy to solve it is to get together with your classmates and work on it together after that lecture.

- Review the [complete rubric for this task](https://docs.google.com/document/d/131OnUDOLpOl94SlaMU9nGqT998ABrjFS/edit?usp=sharing&ouid=111507336322611936333&rtpof=true&sd=true) before starting.

- **Make at least 5 commits at moments you think are adequate.** We'll check your repository and view the commit history.

- **Add comments for all your code.** Err on the side of commenting too much for now. Comments should follow best practices.

- **Do not update the top cell with the `otter` import**, this is used internally for grading.

<!-- BEGIN QUESTION -->


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

This dataset contains data on a variety of corals in the Mozambique Channel and around islands including Mauritius, Reuinion, and Madagasgar. 

Citation: Tim McClanahan. (2023). Western Indian Ocean Coral Diversity. Knowledge Network for Biocomplexity. doi:10.5063/F1K35S3H.

Accessed 10/8/24

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 2
In the next code cell, import the `pandas` package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# Read in data
coral_div = pd.read_csv('the URL goes here')
```

In [1]:
import pandas as pd
coral_div = pd.read_csv('https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d')

<!-- END QUESTION -->

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

a. how many rows and columns does it have? Store your answers in the `rows` and `columns` variables.

In [2]:
# a

rows = coral_div.shape[0] # The .shape function displays (rows, columns)-- Using [0] to refer to the first value
columns = coral_div.shape[1] # Using [1] to display number of columns from the .shape function
coral_div.shape # coral_div has 575 rows and 42 columns

(575, 42)

b. What are the column names? Store your answer in the `coral_div_columns` variable.

In [3]:
# b
coral_div_columns = coral_div.columns # Adding .columns after the dataframe displays a list of the column names
coral_div.columns # Displaying column names

Index(['PU_ID', 'PU_Lat', 'PU_Lon', 'Number_of_genera', 'Country', 'Ecoregion',
       'Management', 'Habitat', 'Observer', 'Depth', 'Coralcover',
       'SSTRateofRise', 'PARmax', 'Calcite', 'Dis_oxygen', 'mean.waveNRJ',
       'Salinity_mean', 'andrello_reef_value', 'andrello_nutrients',
       'mean.npp', 'TT_market_hrs', 'TT_pop_hrs', 'cumDHW', 'SST_Kurtosis',
       'SST_Median', 'ChlorA_median', 'andrello_sediments', 'Current_vel_mean',
       'Diff_attenuation', 'Grav_NP', 'Grav_NC', 'PH', 'SST_bimodality',
       'SST_Skewness', 'ClimateStressModel', 'Netflow', 'Indegree',
       'Outdegree', 'Retention', 'min_yr', 'max_yr', 'no_replicates'],
      dtype='object')

c. what are the data types of the columns? Store your answer in the `coral_div_types`.

In [4]:
# c
coral_div_types = coral_div.dtypes # Adding .dytpes after the dataframe displays a list of the data types in each column
coral_div.dtypes # Displaying data types

PU_ID                    int64
PU_Lat                 float64
PU_Lon                 float64
Number_of_genera         int64
Country                 object
Ecoregion               object
Management              object
Habitat                 object
Observer                object
Depth                  float64
Coralcover               int64
SSTRateofRise          float64
PARmax                 float64
Calcite                float64
Dis_oxygen             float64
mean.waveNRJ           float64
Salinity_mean          float64
andrello_reef_value      int64
andrello_nutrients     float64
mean.npp               float64
TT_market_hrs          float64
TT_pop_hrs             float64
cumDHW                 float64
SST_Kurtosis           float64
SST_Median             float64
ChlorA_median          float64
andrello_sediments     float64
Current_vel_mean       float64
Diff_attenuation       float64
Grav_NP                float64
Grav_NC                float64
PH                     float64
SST_bimodality         float64
SST_Skewness           float64
ClimateStressModel     float64
Netflow                float64
Indegree               float64
Outdegree              float64
Retention              float64
min_yr                   int64
max_yr                   int64
no_replicates            int64
dtype: object

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (HINT: check the first discussion section). Store your answer in the `first_8_rows` variable.

In [5]:
# d
first_8_rows = coral_div.head(8) # Adding .head(8) after the dataframe displays the first 8 rows of the dataframe

In [6]:
# View the dataframe 
first_8_rows

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3
5,10,39.054253,-5.512514,29,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2015,2015,1
6,15,39.054253,-5.535017,19,Tanzania,East African Coral Coast,Restricted,Crest,Tim,8.0,...,0.461297,-0.134548,0.595600,0.011721,112.75,51.50,183.75,2019,2019,1
7,39,39.009337,-5.647518,28,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.0,...,0.464874,-0.158601,0.626000,-0.063087,96.50,40.75,35.75,2015,2019,3

<!-- BEGIN QUESTION -->

e. some other inital information you are interested in.

In [7]:
# I am interested in the distribution patterns of the different varieties of corals.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

While both numeric values, the difference between `int64` and `float64` is that `int64` are always whole numbers (example: 55), while `float64` are 'real' numbers, or a number with a decimal (example: 55.2).

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 5

The `Country` column indicates the country where the coral reef is located. Explain, in your own words, what is the ouput of `coral_div['Country']` and `coral_div['Country'].unique()`.

The code `coral_div['Country']` displays a list of every row and the country value it contains, whereas `coral_div['Country'].unique()` displays all of the unique country names in a 1 dimensional array. 
Example outputs below:

In [8]:
coral_div['Country']

0          Tanzania
1          Tanzania
2          Tanzania
3          Tanzania
4          Tanzania
           ...
570    South Africa
571    South Africa
572    South Africa
573    South Africa
574    South Africa
Name: Country, Length: 575, dtype: object

In [9]:
coral_div['Country'].unique()

array(['Tanzania', 'Mozambique', 'Kenya', 'Reunion', 'Comoros', 'Mayotte',
       'French Southern Territories', 'Madagascar', 'Seychelles',
       'South Africa', 'Mauritius'], dtype=object)

<!-- END QUESTION -->

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: Check this [method for `pandas.DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html). Store your answer in the `unique_observers` variable.

In [10]:
coral_div['Observer'].nunique(dropna=True) # There were 16 observers collecting this data.

16

In [11]:
unique_observers = coral_div['Observer'].nunique(dropna=True)

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6 km reef cell surveyed.

<!-- BEGIN QUESTION -->

a)  Describe, in detail,  what kind of object `coral_div['Coralcover']>= 50` is.

The object `coral_div['Coralcover']>= 50` is code that creates a series displaying boolean values, indicating whether or not a given area has a coral cover density of over 50 percent.

In [12]:
coral_div['Coralcover']>= 50

0      False
1      False
2      False
3      False
4      False
       ...
570    False
571    False
572    False
573    False
574    False
Name: Coralcover, Length: 575, dtype: bool

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

b) What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

The code `coral_div[coral_div['Coralcover'] >= 50]` displays a dataframe of rows where the coral cover density is over 50 percent.

In [13]:
coral_div[coral_div['Coralcover'] >= 50]

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
39,220,39.233916,-6.658981,17,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.000000,...,0.527900,-0.171423,0.62130,-0.443779,127.50,62.25,204.75,2016,2016,1
40,220,39.233916,-6.658981,19,Tanzania,East African Coral Coast,UnfishedLow,Slope,Tim,2.833333,...,0.527900,-0.171423,0.62130,-0.443779,127.50,62.25,204.75,2012,2019,3
41,221,39.256374,-6.658981,25,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,10.000000,...,0.526911,-0.169093,0.52760,-0.443779,127.50,62.25,204.75,2016,2016,1
42,221,39.256374,-6.658981,19,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,10.000000,...,0.526911,-0.169093,0.52760,-0.443779,127.50,62.25,204.75,2016,2016,1
43,221,39.256374,-6.658981,12,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.000000,...,0.526911,-0.169093,0.52760,-0.443779,127.50,62.25,204.75,2016,2016,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,4039,48.082322,-13.553193,27,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,Arielle,6.733333,...,0.566251,-0.271831,0.72960,0.670117,12.50,29.00,62.50,2017,2019,3
304,4039,48.082322,-13.553193,20,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,D'Agata,6.000000,...,0.566251,-0.271831,0.72960,0.670117,12.50,29.00,62.50,2016,2016,2
305,4039,48.082322,-13.553193,21,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,Julien,5.000000,...,0.566251,-0.271831,0.72960,0.670117,12.50,29.00,62.50,2016,2016,1
306,4039,48.082322,-13.553193,33,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,Nyawira,5.000000,...,0.566251,-0.271831,0.72960,0.670117,12.50,29.00,62.50,2015,2015,1
514,6064,40.603847,-12.496246,30,Mozambique,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,8.000000,...,0.529942,-0.145626,0.68105,0.116857,54.75,54.25,126.50,2015,2015,1

<!-- END QUESTION -->

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania. Store your answer in the `coral_cover` variable.

In [14]:
coral_cover = coral_div[(coral_div['Coralcover'] == 30) & (coral_div['Country'] == "Tanzania")]

In [15]:
# View the dataframe
coral_cover

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
63,693,39.391121,-5.782490,10,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,5.000000,...,0.490512,-0.101724,0.655600,-0.309514,77.00,65.25,147.50,2018,2018,2
64,697,39.391121,-5.804983,22,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.166667,...,0.490769,-0.100365,0.683050,-0.309514,77.00,65.25,147.50,2010,2018,3
341,4294,39.211458,-4.814515,37,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,...,0.451293,-0.048992,0.608900,0.514920,46.00,49.50,82.75,2018,2018,1
342,4299,39.233916,-4.837043,26,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,12.500000,...,0.451293,-0.048992,0.601725,0.514920,46.00,49.50,82.75,2018,2018,2
343,4302,39.211458,-4.859570,31,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,7.000000,...,0.452402,-0.050477,0.595200,0.514920,46.00,49.50,82.75,2018,2018,1
344,4303,39.301290,-4.859570,23,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,...,0.453806,-0.048007,0.602300,0.514920,46.00,49.50,82.75,2018,2018,1
377,4906,39.660616,-4.972195,33,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.000000,...,0.488396,-0.074229,0.671900,0.156359,66.75,41.75,38.00,2013,2013,2
388,5049,39.615700,-5.490011,14,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,4.000000,...,0.489921,-0.109523,0.657000,-0.328399,93.25,57.25,650.25,2018,2018,1
389,5050,39.638158,-5.490011,18,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,6.000000,...,0.489921,-0.109523,0.618825,-0.328399,93.25,57.25,650.25,2018,2018,1

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Subset the data frame by selecting only these column. Store your answer in the `filtered_data` variable

In [16]:
filtered_data = coral_div[['PH', 'Salinity_mean', 'Depth']]

In [17]:
# View the dataframe
filtered_data

         PH  Salinity_mean  Depth
0    8.2175      35.167646  11.00
1    8.2175      35.167646   2.00
2    8.2175      35.167646   4.00
3    8.2175      35.167646   3.00
4    8.2180      35.102688   1.50
..      ...            ...    ...
570  8.2400      35.301208  15.50
571  8.2400      35.301208  12.00
572  8.2400      35.301208  12.60
573  8.2400      35.301208  13.00
574  8.2400      35.301208  13.47

[575 rows x 3 columns]

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017. Store your answer in the `sampling_2017` variable.

In [18]:
sampling_2017 = coral_div[coral_div['max_yr'] == 2017][['PH', 'Salinity_mean', 'Depth', 'max_yr']].head()

In [19]:
# View the dataframe 
sampling_2017

        PH  Salinity_mean  Depth  max_yr
67  8.2150      35.100085   16.0    2017
68  8.2145      35.144927   10.0    2017
70  8.2150      35.101086   11.0    2017
71  8.2150      35.101086   11.0    2017
72  8.2150      35.101086    9.0    2017

## 11
Use `iloc` to select rows 95 throuhg 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. View the new `subset` dataframe.

HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean`. Make sure you are indexing from 0.

In [20]:
subset = coral_div.iloc[95:101,[16, 19, 27]]

In [21]:
# View the dataframe
subset

     Salinity_mean     mean.npp  Current_vel_mean
95       35.201630  1365.146729          0.878417
96       35.204185  1117.635010          0.839372
97       35.234774  1105.270142          0.685955
98       35.234774  1105.270142          0.685955
99       35.250068  1082.196411               NaN
100      35.250068  1082.196411               NaN

<!-- BEGIN QUESTION -->

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

In [22]:
subset.isna()

     Salinity_mean  mean.npp  Current_vel_mean
95           False     False             False
96           False     False             False
97           False     False             False
98           False     False             False
99           False     False              True
100          False     False              True

The code `subset.isna` displays a boolean value in every cell showing whether or not it is an NA value. 'False' indicates the value is not an NA value.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 13
Run `subset.isna().any()`. Explain in your own words what this code does and what the output represents. HINT: check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

In [23]:
subset.isna().any()

Salinity_mean       False
mean.npp            False
Current_vel_mean     True
dtype: bool

The code `subset.isna().any()` displays a brief overview of each column, and a boolean value indicating whether or not the column contains NA values. 'False' indicates there are no NA values in the column.

<!-- END QUESTION -->

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. Store your answer in the `subset_na` variable.

In [24]:
subset_na = subset[coral_div['Current_vel_mean'].isna()]

/tmp/ipykernel_1637022/3168914638.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  subset_na = subset[coral_div['Current_vel_mean'].isna()]

In [25]:
# View the dataframe 
subset_na

     Salinity_mean     mean.npp  Current_vel_mean
99       35.250068  1082.196411               NaN
100      35.250068  1082.196411               NaN