In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("hwk1-task2-corals.ipynb")

ModuleNotFoundError: No module named 'otter'

# Task 2: Exploring coral diversity data

## Instructions 

- First, update the following cell to have a link to *your* Homework 1 GitHub repository:

**UPDATE THIS LINK:**

https://github.com/ryangreen6/eds220-hwk1

- This task covers topics on the lesson on [subsetting `pandas.DataFrames`](https://meds-eds-220.github.io/MEDS-eds-220-course/book/chapters/lesson-3-pandas-subsetting/lesson-3-pandas-subsetting.html). The best strategy to solve it is to get together with your classmates and work on it together after that lecture.

- Review the [complete rubric for this task](https://docs.google.com/document/d/131OnUDOLpOl94SlaMU9nGqT998ABrjFS/edit?usp=sharing&ouid=111507336322611936333&rtpof=true&sd=true) before starting.

- **Make at least 5 commits at moments you think are adequate.** We'll check your repository and view the commit history.

- **Add comments for all your code.** Err on the side of commenting too much for now. Comments should follow best practices.

- **Do not update the top cell with the `otter` import**, this is used internally for grading.

<!-- BEGIN QUESTION -->


## 1
For this task we are going to use data about  [Western Indian Ocean Coral Diversity (McClanahan, 2023)](https://knb.ecoinformatics.org/view/doi%3A10.5063%2FF1K35S3H) from the Knowledge Network for Biocomplexity (KNB) data repository. 

a. Navigate to the dataset's link and explore the data package. 
 
b. Use the next markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

This dataset contains data on a variety of corals in on the coastlines and islands between South Africa and Kenya, including Mauritius, Reuinion, and Madagasgar. 

Citation: Tim McClanahan. (2023). Western Indian Ocean Coral Diversity. Knowledge Network for Biocomplexity. doi:10.5063/F1K35S3H.

Accessed 10/8/24

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 2
In the next code cell, import the `pandas` package using standard abbreviation in a code cell.

Read in the data from the URL using the `pd.read_csv` function and store it as `coral_div` like this:

```
# Read in data
coral_div = pd.read_csv('the URL goes here')
```

In [37]:
import pandas as pd
coral_div = pd.read_csv('https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3Ae7d12a5a-f1a9-4a3e-aaa5-5222f67e799d')

<!-- END QUESTION -->

## 3

Use attributes and methods of the `coral_div` data frame to obtain the following information about it:

Use the code cells marked a-e. For each, add a comment explaining what is the ouput.

a. how many rows and columns does it have? Store your answers in the `rows` and `columns` variables.

In [38]:
# a

rows = coral_div.shape[0] # The .shape function displays (rows, columns)-- Using [0] to refer to the first value
columns = coral_div.shape[1] # Using [1] to display number of columns from the .shape function

b. What are the column names? Store your answer in the `coral_div_columns` variable.

In [39]:
# b
coral_div_columns = coral_div.columns

c. what are the data types of the columns? Store your answer in the `coral_div_types`.

In [40]:
# c
coral_div_types = coral_div.dtypes

d. display the first 8 rows with all the column names. For this one, you will need to udpate a `pandas` option (HINT: check the first discussion section). Store your answer in the `first_8_rows` variable.

In [41]:
# d
first_8_rows = coral_div.head(8)

In [42]:
# View the dataframe 
first_8_rows

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,...,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
0,7,39.076711,-5.490011,35,Tanzania,East African Coral Coast,UnfishedLow,Crest,Tim,11.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2019,2019,1
1,7,39.076711,-5.490011,22,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2010,2015,2
2,7,39.076711,-5.490011,25,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,4.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2015,2015,1
3,7,39.076711,-5.490011,26,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,3.0,...,0.462556,-0.128136,0.596375,0.144498,98.25,74.75,14.00,2016,2019,2
4,10,39.054253,-5.512514,27,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2010,2019,3
5,10,39.054253,-5.512514,29,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,1.5,...,0.461297,-0.134548,0.629000,0.011721,112.75,51.50,183.75,2015,2015,1
6,15,39.054253,-5.535017,19,Tanzania,East African Coral Coast,Restricted,Crest,Tim,8.0,...,0.461297,-0.134548,0.595600,0.011721,112.75,51.50,183.75,2019,2019,1
7,39,39.009337,-5.647518,28,Tanzania,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.0,...,0.464874,-0.158601,0.626000,-0.063087,96.50,40.75,35.75,2015,2019,3

<!-- BEGIN QUESTION -->

e. some other inital information you are interested in.

In [43]:
# I am interested in the distribution patterns of the different varieties of corals.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 4

Some of the columns have data type `int64` and some have data type `float64`. What is the difference between these `int64` and `float64`?

While both numeric values, the difference between `int64` and `float64` is that `int64` are always whole numbers (example: 55), while `float64` is a number with a decimal (example: 55.2).

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 5

The `Country` column indicates the country where the coral reef is located. Explain, in your own words, what is the ouput of `coral_div['Country']` and `coral_div['Country'].unique()`.

The code `coral_div['Country']` displays a list of every row and the country value it contains, whereas `coral_div['Country'].unique()` displays all of the unique country names in a 1 dimensional array. 
Example outputs below:

In [33]:
coral_div['Country']

0          Tanzania
1          Tanzania
2          Tanzania
3          Tanzania
4          Tanzania
           ...
570    South Africa
571    South Africa
572    South Africa
573    South Africa
574    South Africa
Name: Country, Length: 575, dtype: object

In [34]:
coral_div['Country'].unique()

array(['Tanzania', 'Mozambique', 'Kenya', 'Reunion', 'Comoros', 'Mayotte',
       'French Southern Territories', 'Madagascar', 'Seychelles',
       'South Africa', 'Mauritius'], dtype=object)

<!-- END QUESTION -->

## 6

Check the dataset's [metadata file README_md.doc](https://knb.ecoinformatics.org/view/doi:10.5063/F1K35S3H) to find which column has information about who made an observation. How many observers collected this data? HINT: Check this [method for `pandas.DataFrame`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html). Store your answer in the `unique_observers` variable.

In [55]:
unique_observers = coral_div['Observer'].nunique(dropna=True)

## 7

The `Coralcover` column indicates the percent of hard coral cover in each 6 km reef cell surveyed.

<!-- BEGIN QUESTION -->

a)  Describe, in detail,  what kind of object `coral_div['Coralcover']>= 50` is.

The object `coral_div['Coralcover']>= 50` is a series displaying boolean values indicating whether or not a given area has a coral cover density of over 50 percent.

In [67]:
coral_div['Coralcover']>= 50

0      False
1      False
2      False
3      False
4      False
       ...
570    False
571    False
572    False
573    False
574    False
Name: Coralcover, Length: 575, dtype: bool

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

b) What data is `coral_div[coral_div['Coralcover'] >= 50]` selecting?

The code `coral_div[coral_div['Coralcover'] >= 50]` displays the number of rows in the dataframe where the coral cover desnity is over 50 percent.

<!-- END QUESTION -->

## 8

Use code to find if there are there any sites with a 30% coral cover in Tanzania. Store your answer in the `coral_cover` variable.

In [70]:
coral_cover = coral_div[coral_div['Coralcover'] == 30]

In [77]:
# View the dataframe
coral_cover

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,Coralcover,SSTRateofRise,PARmax,Calcite,Dis_oxygen,mean.waveNRJ,Salinity_mean,andrello_reef_value,andrello_nutrients,mean.npp,TT_market_hrs,TT_pop_hrs,cumDHW,SST_Kurtosis,SST_Median,ChlorA_median,andrello_sediments,Current_vel_mean,Diff_attenuation,Grav_NP,Grav_NC,PH,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
63,693,39.391121,-5.782490,10,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,5.000000,30,0.015676,52.992001,0.037043,4.7580,5.885771,35.099083,1156,1.507334,958.495666,0.950000,0.550000,30.656667,-0.940944,27.362500,0.225574,26.068680,0.716784,0.0730,0.004944,0.779117,8.215,0.490512,-0.101724,0.655600,-0.309514,77.00,65.25,147.50,2018,2018,2
64,697,39.391121,-5.804983,22,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.166667,30,0.015599,52.992001,0.037043,4.7580,5.285148,35.099083,1156,1.507334,968.100098,0.950000,0.550000,30.021056,-0.942581,27.360000,0.217308,26.068680,0.716784,0.0730,0.004944,0.779117,8.215,0.490769,-0.100365,0.683050,-0.309514,77.00,65.25,147.50,2010,2018,3
122,867,39.368664,-4.656797,23,Kenya,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,2.666667,30,0.019138,54.446501,0.001744,4.7110,3.910353,35.137687,393,2.272863,973.582092,1.783333,0.333333,24.709971,-0.770055,27.210000,0.733985,3969.175781,0.763393,0.1165,0.021011,70.412808,8.215,0.448886,-0.036279,0.727025,0.629931,43.50,47.00,53.25,2014,2021,3
123,867,39.368664,-4.656797,26,Kenya,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,1.000000,30,0.019138,54.446501,0.001744,4.7110,3.910353,35.137687,393,2.272863,973.582092,1.783333,0.333333,24.709971,-0.770055,27.210000,0.733985,3969.175781,0.763393,0.1165,0.021011,70.412808,8.215,0.448886,-0.036279,0.727025,0.629931,43.50,47.00,53.25,2012,2012,1
124,868,39.391121,-4.656797,24,Kenya,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,4.000000,30,0.018781,54.446501,0.001744,4.7110,3.910353,35.137687,61,2.485976,973.582092,1.750000,0.283333,24.628334,-0.776498,27.210000,0.636012,1783.397461,0.763393,0.1165,0.063383,72.654408,8.215,0.450158,-0.035417,0.723350,0.629931,43.50,47.00,53.25,2011,2011,2
125,868,39.391121,-4.656797,20,Kenya,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Nyawira,3.187500,30,0.018781,54.446501,0.001744,4.7110,3.910353,35.137687,61,2.485976,973.582092,1.750000,0.283333,24.628334,-0.776498,27.210000,0.636012,1783.397461,0.763393,0.1165,0.063383,72.654408,8.215,0.450158,-0.035417,0.723350,0.629931,43.50,47.00,53.25,2014,2021,8
126,868,39.391121,-4.656797,22,Kenya,East African Coral Coast,UnfishedLow,Lagoon/Back reef,Tim,4.000000,30,0.018781,54.446501,0.001744,4.7110,3.910353,35.137687,61,2.485976,973.582092,1.750000,0.283333,24.628334,-0.776498,27.210000,0.636012,1783.397461,0.763393,0.1165,0.063383,72.654408,8.215,0.450158,-0.035417,0.723350,0.629931,43.50,47.00,53.25,2016,2019,3
127,872,39.436037,-4.679331,22,Kenya,East African Coral Coast,Restricted,Slope,Tim,29.000000,30,0.018396,54.683998,0.000140,4.7130,4.377082,34.970097,62,1.823716,946.795227,1.750000,0.283333,24.045726,-0.784624,26.776667,0.316760,1916.254883,0.234075,0.0700,0.063383,72.654408,8.214,0.451827,-0.035988,0.628700,0.629931,43.50,47.00,53.25,2009,2009,1
139,1186,55.246386,-21.012018,19,Reunion,Mascarene Islands,Restricted,NaN,Mireille,2.500000,30,0.024752,55.993999,0.000101,4.7390,37.335079,35.131153,14635,0.000000,555.469055,0.550000,0.066667,68.881183,-1.242937,25.700000,0.103709,0.000000,0.028523,0.0360,1.710044,128.876252,8.271,0.568952,-0.009900,0.212200,-0.055715,11.75,14.00,36.00,2005,2005,1
210,2377,49.968784,-15.717807,15,Madagascar,Western and Northern Madagascar,Fished,NaN,Tim,8.500000,30,0.019783,52.161999,0.000384,4.6080,2.077716,34.964661,0,0.004356,2638.477295,8.450000,0.033333,51.258121,-1.283946,26.680000,1.680361,57.260605,0.096964,0.1720,1.724709,0.802782,8.233,0.596164,-0.153239,0.470300,0.349270,18.50,89.00,33.75,2005,2005,1
341,4294,39.211458,-4.814515,37,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,30,0.018789,53.858002,0.002154,4.7170,3.129188,35.120766,0,1.233231,996.539490,1.216667,0.266667,23.736330,-0.779552,27.245000,0.470832,1746.570435,0.653534,0.1210,0.004043,42.349168,8.216,0.451293,-0.048992,0.608900,0.514920,46.00,49.50,82.75,2018,2018,1
342,4299,39.233916,-4.837043,26,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,12.500000,30,0.018789,53.937000,0.001265,4.7195,2.233872,35.125887,0,1.233231,1018.213928,1.550000,0.566667,23.736330,-0.779552,27.250000,0.462739,1746.570435,0.653883,0.1115,0.000879,25.914153,8.216,0.451293,-0.048992,0.601725,0.514920,46.00,49.50,82.75,2018,2018,2
343,4302,39.211458,-4.859570,31,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,7.000000,30,0.018462,54.015999,0.000377,4.7220,0.179306,35.131008,0,1.233231,1071.519775,1.550000,0.566667,23.285391,-0.784669,27.260000,0.469467,1746.570435,0.654233,0.1020,0.000879,25.914153,8.216,0.452402,-0.050477,0.595200,0.514920,46.00,49.50,82.75,2018,2018,1
344,4303,39.301290,-4.859570,23,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,11.000000,30,0.018270,53.937000,0.002104,4.7220,2.600268,35.174747,0,0.611645,965.657349,1.733333,0.800000,24.659219,-0.792062,27.255000,0.339959,858.381897,0.738552,0.0960,0.000426,20.656527,8.216,0.453806,-0.048007,0.602300,0.514920,46.00,49.50,82.75,2018,2018,1
377,4906,39.660616,-4.972195,33,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,9.000000,30,0.016549,53.943001,0.000076,4.7270,0.034857,34.968960,345,0.063687,980.656921,1.550000,0.700000,27.144278,-0.941926,27.215000,0.212634,23.135084,0.234671,0.0620,0.038530,3.044183,8.213,0.488396,-0.074229,0.671900,0.156359,66.75,41.75,38.00,2013,2013,2
388,5049,39.615700,-5.490011,14,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,4.000000,30,0.015241,52.493000,0.000155,4.7485,8.124817,34.976822,0,0.104816,755.473267,2.066667,0.583333,26.566285,-0.935094,25.715000,0.158397,9.305736,0.406605,0.0625,0.003125,1.727036,8.213,0.489921,-0.109523,0.657000,-0.328399,93.25,57.25,650.25,2018,2018,1
389,5050,39.638158,-5.490011,18,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,6.000000,30,0.015241,52.493000,0.000155,4.7485,8.124817,34.976822,0,0.104816,755.473267,2.066667,0.583333,26.566285,-0.935094,25.710000,0.224526,9.305736,0.406605,0.0625,0.003125,1.727036,8.213,0.489921,-0.109523,0.618825,-0.328399,93.25,57.25,650.25,2018,2018,1

## 9

We are interested in looking at the PH of sea water (`PH` column),  mean salinity (`Salinity_mean` column), and depth of survey location in meters (`Depth` column). Subset the data frame by selecting only these column. Store your answer in the `filtered_data` variable

In [79]:
filtered_data = coral_div[['PH', 'Salinity_mean', 'Depth']]

In [80]:
# View the dataframe
filtered_data

         PH  Salinity_mean  Depth
0    8.2175      35.167646  11.00
1    8.2175      35.167646   2.00
2    8.2175      35.167646   4.00
3    8.2175      35.167646   3.00
4    8.2180      35.102688   1.50
..      ...            ...    ...
570  8.2400      35.301208  15.50
571  8.2400      35.301208  12.00
572  8.2400      35.301208  12.60
573  8.2400      35.301208  13.00
574  8.2400      35.301208  13.47

[575 rows x 3 columns]

## 10
The `max_yr` column indicates the year of last sampling at a given site. Select the PH, salinity, and depth for sites where sampling ended in 2017. Store your answer in the `sampling_2017` variable.

In [87]:
sampling_2017 = coral_div[coral_div['max_yr'] == 2017]

In [88]:
# View the dataframe 
sampling_2017

,PU_ID,PU_Lat,PU_Lon,Number_of_genera,Country,Ecoregion,Management,Habitat,Observer,Depth,Coralcover,SSTRateofRise,PARmax,Calcite,Dis_oxygen,mean.waveNRJ,Salinity_mean,andrello_reef_value,andrello_nutrients,mean.npp,TT_market_hrs,TT_pop_hrs,cumDHW,SST_Kurtosis,SST_Median,ChlorA_median,andrello_sediments,Current_vel_mean,Diff_attenuation,Grav_NP,Grav_NC,PH,SST_bimodality,SST_Skewness,ClimateStressModel,Netflow,Indegree,Outdegree,Retention,min_yr,max_yr,no_replicates
67,700,39.391121,-5.827474,22,Tanzania,East African Coral Coast,Restricted,Lagoon/Back reef,Emily,16.000000,31,0.015464,53.460001,0.018598,4.75900,5.285148,35.100085,3015,1.934589,968.100098,1.316667,0.316667,29.538009,-0.943984,27.3600,0.239739,40.917877,0.718881,0.07650,0.015550,0.407398,8.2150,0.490960,-0.098882,0.710500,-0.342015,113.50,62.75,302.25,2017,2017,1
68,701,39.413579,-5.827474,16,Tanzania,East African Coral Coast,Restricted,Slope,Emily,10.000000,32,0.015613,53.983500,0.009357,4.75900,6.679149,35.144927,2272,1.417535,932.513916,1.316667,0.316667,30.088736,-0.944486,27.3600,0.225931,27.543755,0.547142,0.07175,0.015550,0.407398,8.2145,0.490994,-0.097980,0.648350,-0.342015,113.50,62.75,302.25,2017,2017,2
70,704,39.391121,-5.849964,16,Tanzania,East African Coral Coast,Restricted,Lagoon/Back reef,Emily,11.000000,32,0.015345,53.928001,0.000153,4.76000,4.962215,35.101086,3015,1.934589,1012.075867,1.316667,0.316667,29.182178,-0.945923,27.3550,0.247198,40.917877,0.720979,0.08000,0.015550,0.407398,8.2150,0.491358,-0.098205,0.683050,-0.342015,113.50,62.75,302.25,2017,2017,1
71,704,39.391121,-5.849964,23,Tanzania,East African Coral Coast,Restricted,Lagoon/Back reef,Nyawira,11.000000,32,0.015345,53.928001,0.000153,4.76000,4.962215,35.101086,3015,1.934589,1012.075867,1.316667,0.316667,29.182178,-0.945923,27.3550,0.247198,40.917877,0.720979,0.08000,0.015550,0.407398,8.2150,0.491358,-0.098205,0.683050,-0.342015,113.50,62.75,302.25,2017,2017,1
72,704,39.391121,-5.849964,17,Tanzania,East African Coral Coast,Restricted,Slope,Emily,9.000000,32,0.015345,53.928001,0.000153,4.76000,4.962215,35.101086,3015,1.934589,1012.075867,1.316667,0.316667,29.182178,-0.945923,27.3550,0.247198,40.917877,0.720979,0.08000,0.015550,0.407398,8.2150,0.491358,-0.098205,0.683050,-0.342015,113.50,62.75,302.25,2017,2017,1
73,704,39.391121,-5.849964,14,Tanzania,East African Coral Coast,Restricted,Slope,Nyawira,9.000000,32,0.015345,53.928001,0.000153,4.76000,4.962215,35.101086,3015,1.934589,1012.075867,1.316667,0.316667,29.182178,-0.945923,27.3550,0.247198,40.917877,0.720979,0.08000,0.015550,0.407398,8.2150,0.491358,-0.098205,0.683050,-0.342015,113.50,62.75,302.25,2017,2017,1
84,763,39.750448,-3.980476,25,Kenya,East African Coral Coast,UnfishedHigh,Slope,Nyawira,12.500000,25,0.015675,55.349998,0.000156,4.68000,10.280952,35.278084,140,0.000000,956.856506,0.433333,0.066667,16.136316,-0.849417,27.1100,0.223573,0.000000,0.671716,0.06600,7.722223,1224.368339,8.2110,0.464843,0.004601,0.636300,0.685173,28.00,76.50,0.50,2016,2017,2
85,763,39.750448,-3.980476,19,Kenya,East African Coral Coast,UnfishedHigh,Slope,Tim,6.000000,25,0.015675,55.349998,0.000156,4.68000,10.280952,35.278084,140,0.000000,956.856506,0.433333,0.066667,16.136316,-0.849417,27.1100,0.223573,0.000000,0.671716,0.06600,7.722223,1224.368339,8.2110,0.464843,0.004601,0.636300,0.685173,28.00,76.50,0.50,2017,2017,1
164,1884,43.231419,-22.438881,21,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,9.875000,35,0.000355,59.616001,0.000524,4.83000,25.425631,35.337914,0,0.028441,1302.128052,3.533333,0.100000,34.541303,-1.185481,26.4400,0.488659,1.824363,0.053376,0.09100,0.526910,2.567681,8.2220,0.565512,0.162918,0.413800,0.244987,20.25,30.75,184.50,2016,2017,4
167,1884,43.231419,-22.438881,18,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,D'Agata,12.075000,35,0.000355,59.616001,0.000524,4.83000,25.425631,35.337914,0,0.028441,1302.128052,3.533333,0.100000,34.541303,-1.185481,26.4400,0.488659,1.824363,0.053376,0.09100,0.526910,2.567681,8.2220,0.565512,0.162918,0.413800,0.244987,20.25,30.75,184.50,2016,2017,4
169,1887,43.231419,-22.459756,15,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,10.300000,33,0.000433,59.616001,0.000524,4.83000,25.425631,35.337914,0,0.028441,1302.128052,3.533333,0.100000,36.021556,-1.184128,26.4400,0.478669,1.824363,0.053376,0.09100,0.526910,2.567681,8.2220,0.565164,0.163326,0.397950,0.233054,21.25,89.25,47.75,2016,2017,2
172,1890,43.231419,-22.480628,12,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,D'Agata,11.000000,33,0.000358,59.616001,0.000524,4.83000,25.584421,35.337914,0,0.023908,1555.006348,3.533333,0.100000,36.546954,-1.182527,26.4400,0.465192,1.740067,0.053376,0.09100,0.526910,2.567681,8.2220,0.564729,0.163675,0.382100,0.233054,21.25,89.25,47.75,2016,2017,2
174,1899,43.253877,-22.522363,21,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,7.266667,32,0.000097,59.459499,0.021525,4.83300,26.983200,35.287419,0,0.018676,1492.326782,2.983333,0.383333,36.972501,-1.180436,26.4200,1.194252,1.949858,0.056703,0.09250,0.059156,3.588393,8.2225,0.564000,0.164852,0.382200,0.233054,21.25,89.25,47.75,2016,2017,3
176,1899,43.253877,-22.522363,17,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,D'Agata,13.225000,32,0.000097,59.459499,0.021525,4.83300,26.983200,35.287419,0,0.018676,1492.326782,2.983333,0.383333,36.972501,-1.180436,26.4200,1.194252,1.949858,0.056703,0.09250,0.059156,3.588393,8.2225,0.564000,0.164852,0.382200,0.233054,21.25,89.25,47.75,2016,2017,4
179,1903,43.253877,-22.543226,17,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,10.550000,31,0.000041,59.459499,0.021525,4.83300,26.983200,35.287419,0,0.018676,1492.326782,2.983333,0.383333,37.465849,-1.178979,26.4200,0.820673,1.949858,0.056703,0.09250,0.059156,3.588393,8.2225,0.564000,0.165554,0.382250,0.233054,21.25,89.25,47.75,2016,2017,4
182,1906,43.231419,-22.564086,14,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,12.033333,31,0.000598,59.660999,0.000572,4.83200,27.006702,35.331669,0,0.014391,1492.326782,2.983333,0.383333,37.913432,-1.176738,26.4100,0.485052,2.937231,0.065553,0.09400,0.059156,3.588393,8.2220,0.563144,0.164826,0.374750,0.233054,21.25,89.25,47.75,2016,2017,6
185,1913,43.253877,-22.605795,20,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,10.900000,28,0.000336,57.990002,0.009008,4.83450,27.166746,35.374460,0,0.014391,1341.321777,2.616667,0.266667,38.346646,-1.175838,26.4100,0.658652,2.937231,0.042158,0.08750,0.095549,4.660465,8.2230,0.563244,0.166904,0.359200,0.233054,21.25,89.25,47.75,2016,2017,3
188,1916,43.253877,-22.626645,21,Madagascar,Western and Northern Madagascar,UnfishedLow,Slope,D'Agata,14.725000,28,0.000334,57.990002,0.009008,4.83450,27.166746,35.374460,0,0.010028,1341.321777,2.616667,0.266667,38.584970,-1.174223,26.3950,0.461031,3.688617,0.042158,0.08750,0.095549,4.660465,8.2230,0.562870,0.167579,0.355650,0.233054,21.25,89.25,47.75,2016,2017,4
191,1919,43.276335,-22.647492,20,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,9.725000,27,-0.000004,57.198002,0.017754,4.83500,27.295572,35.247482,0,0.014730,1266.791870,2.616667,0.266667,37.581881,-1.173293,26.4025,0.513848,6.526987,0.048980,0.09200,0.095549,4.660465,8.2230,0.563000,0.170334,0.354500,0.233054,21.25,89.25,47.75,2016,2017,4
194,1931,43.321251,-22.730847,18,Madagascar,Western and Northern Madagascar,Restricted,Slope,D'Agata,11.075000,26,-0.000463,56.856998,0.034727,4.83700,0.381757,35.341358,0,0.008040,1213.510376,2.000000,0.016667,37.195070,-1.171358,26.3400,0.397119,7.500933,0.062829,0.11200,19.376623,8.022033,8.2230,0.563315,0.174671,0.445950,0.276224,18.25,83.00,19.25,2016,2017,4
197,1937,43.343709,-22.793329,13,Madagascar,Western and Northern Madagascar,Fished,Slope,D'Agata,10.600000,22,-0.000139,58.305000,0.006608,4.83800,0.453384,35.390354,0,0.010194,1186.477539,1.650000,0.016667,38.493011,-1.166103,26.3250,0.377362,14.191401,0.068253,0.07300,2.000000,11.860722,8.2230,0.562165,0.177091,0.469900,0.276224,18.25,83.00,19.25,2017,2017,1
346,4331,39.166543,-4.994717,25,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,7.000000,31,0.017079,55.496499,0.006534,4.73225,1.475142,35.114244,0,2.938856,1061.979736,0.883333,0.450000,22.538951,-0.801470,27.3200,0.819210,4175.336914,0.693014,0.10975,0.068614,80.974234,8.2165,0.456464,-0.062297,0.579900,-0.409739,104.75,44.25,402.00,2017,2017,1
347,4336,39.166543,-5.017239,23,Tanzania,East African Coral Coast,Fished,Flat,Nyawira,3.000000,31,0.017115,54.868500,0.007096,4.73400,1.584656,35.112398,0,2.643826,1072.713623,0.350000,0.183333,23.029405,-0.802835,27.3200,0.940339,5356.335449,0.705608,0.11550,0.121293,523.397415,8.2165,0.456860,-0.064255,0.578900,-0.409739,104.75,44.25,402.00,2017,2017,1
348,4336,39.166543,-5.017239,24,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,4.000000,31,0.017115,54.868500,0.007096,4.73400,1.584656,35.112398,0,2.643826,1072.713623,0.350000,0.183333,23.029405,-0.802835,27.3200,0.940339,5356.335449,0.705608,0.11550,0.121293,523.397415,8.2165,0.456860,-0.064255,0.578900,-0.409739,104.75,44.25,402.00,2017,2017,1
349,4337,39.211458,-5.017239,19,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,5.500000,31,0.017049,54.632999,0.012211,4.73000,1.649264,35.117374,0,1.600689,1061.979736,0.750000,0.583333,23.594377,-0.811305,27.3200,0.927617,2611.140625,0.761742,0.10000,0.012706,112.405008,8.2160,0.458665,-0.064894,0.577900,-0.409739,104.75,44.25,402.00,2017,2017,3
350,4343,39.211458,-5.039760,19,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,2.000000,31,0.017260,54.632999,0.012211,4.73000,1.649264,35.117374,0,1.600689,1061.979736,0.750000,0.583333,23.343316,-0.814828,27.3500,0.787944,2611.140625,0.761742,0.10000,0.012706,112.405008,8.2160,0.459612,-0.068301,0.578500,-0.221394,100.25,42.25,242.00,2017,2017,1
351,4343,39.211458,-5.039760,31,Tanzania,East African Coral Coast,Fished,Lagoon/Back reef,Nyawira,15.000000,31,0.017260,54.632999,0.012211,4.73000,1.649264,35.117374,0,1.600689,1061.979736,0.750000,0.583333,23.343316,-0.814828,27.3500,0.787944,2611.140625,0.761742,0.10000,0.012706,112.405008,8.2160,0.459612,-0.068301,0.578500,-0.221394,100.25,42.25,242.00,2017,2017,1
352,4343,39.211458,-5.039760,16,Tanzania,East African Coral Coast,Fished,Slope,Nyawira,5.000000,31,0.017260,54.632999,0.012211,4.73000,1.649264,35.117374,0,1.600689,1061.979736,0.750000,0.583333,23.343316,-0.814828,27.3500,0.787944,2611.140625,0.761742,0.10000,0.012706,112.405008,8.2160,0.459612,-0.068301,0.578500,-0.221394,100.25,42.25,242.00,2017,2017,1
353,4353,39.166543,-5.084800,36,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,11.000000,40,0.017336,55.581500,0.004193,4.73400,2.015129,35.149462,0,2.024375,1084.449707,0.350000,0.183333,23.524414,-0.805624,27.4050,0.858004,4856.441895,0.665494,0.11900,0.121293,523.397415,8.2165,0.457741,-0.069190,0.587600,0.057843,57.75,30.25,172.75,2017,2017,1
354,4357,39.189000,-5.107319,30,Tanzania,East African Coral Coast,UnfishedLow,Slope,Nyawira,9.000000,40,0.017341,55.258999,0.000246,4.73400,2.015129,35.270199,0,2.024375,1084.449707,0.333333,0.216667,23.593332,-0.814748,27.4250,0.303669,4856.441895,0.605895,0.07300,0.120631,563.848594,8.2160,0.459939,-0.073597,0.592050,0.057843,57.75,30.25,172.75,2017,2017,1
395,5086,32.878336,-26.930928,19,South Africa,Delagoa,Restricted,NaN,Sink,9.416667,45,0.009565,54.973000,0.000089,4.82000,0.406097,35.276642,249,0.525677,1100.242065,2.383333,0.416667,23.463754,-1.237279,25.6700,0.266100,47.887951,0.365296,0.10500,0.115737,58.625669,8.2400,0.571323,0.086584,0.388925,0.030092,15.75,17.00,86.50,2015,2017,6
559,7031,39.615700,-4.205984,8,Kenya,East African Coral Coast,Restricted,Lagoon/Back reef,Tim,1.500000,17,0.014737,54.018002,0.000274,4.68800,9.193422,35.204185,660,1.516093,1092.139404,0.250000,0.016667,17.503696,-0.842271,28.7200,0.316679,984.452515,0.839372,0.10500,252.700150,3520.640410,8.2120,0.463301,0.003681,0.674300,0.773114,82.00,54.50,20.25,2017,2017,1
566,11679,32.878336,-27.011417,21,South Africa,Delagoa,Restricted,Slope,Sink,17.000000,47,0.010503,55.098000,0.000271,4.82200,15.231829,35.301208,275,0.168378,1054.313965,2.866667,0.250000,24.942308,-1.229474,25.6650,0.311570,10.147757,0.406402,0.10800,0.004548,0.208307,8.2400,0.568628,0.084750,0.371750,0.030092,15.75,17.00,86.50,2015,2017,3
569,11680,32.878336,-27.011417,20,South Africa,Delagoa,Restricted,Slope,Sink,13.833333,47,0.010503,55.098000,0.000271,4.82200,15.231829,35.301208,275,0.168378,1054.313965,2.866667,0.250000,24.942308,-1.229474,25.6650,0.311570,10.147757,0.406402,0.10800,0.004548,0.208307,8.2400,0.568628,0.084750,0.371750,0.030092,15.75,17.00,86.50,2015,2017,6
574,11683,32.878336,-27.011417,21,South Africa,Delagoa,Restricted,Slope,Sink,13.470000,47,0.010503,55.098000,0.000271,4.82200,15.231829,35.301208,275,0.168378,1054.313965,2.866667,0.250000,24.942308,-1.229474,25.6650,0.311570,10.147757,0.406402,0.10800,0.004548,0.208307,8.2400,0.568628,0.084750,0.371750,0.030092,15.75,17.00,86.50,2015,2017,15

## 11
Use `iloc` to select rows 95 throuhg 100 (including 100) in the 17th, 20th, and 28th columns and assign these values to a new variable called `subset`. View the new `subset` dataframe.

HINT: the ouput columns should be `Salinity_mean`, `mean.npp` and `Current_vel_mean`. Make sure you are indexing from 0.

In [93]:
subset = coral_div.iloc[95:101,[17, 20, 28]]

In [94]:
# View the dataframe
subset

     andrello_reef_value  TT_market_hrs  Diff_attenuation
95                  1026       1.766667             0.197
96                  1222       0.450000             0.105
97                  1222       0.450000             0.090
98                  1222       0.450000             0.090
99                  1611       0.783333             0.075
100                 1611       0.783333             0.075

<!-- BEGIN QUESTION -->

## 12 

Run `subset.isna()`. Explain what this code does and what the output represents.

In [95]:
subset.isna()

     andrello_reef_value  TT_market_hrs  Diff_attenuation
95                 False          False             False
96                 False          False             False
97                 False          False             False
98                 False          False             False
99                 False          False             False
100                False          False             False

The code `subset.isna` displays a boolean value in every cell showing whether or not it is an NA value. 'False' indicates the value is not an NA value.

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

## 13
Run `subset.isna().any()`. Explain in your own words what this code does and what the output represents. HINT: check the [documentation of `pandas.Sries.any`](https://pandas.pydata.org/docs/reference/api/pandas.Series.any.html).

In [96]:
subset.isna().any()

andrello_reef_value    False
TT_market_hrs          False
Diff_attenuation       False
dtype: bool

The code `subset.isna().any()` displays a brief overview of each column, and a boolean value indicating whether or not the column contains NA values. 'False' indicates there are no NA values in the column.

<!-- END QUESTION -->

## 14 

Select the rows in `subset` that have NA in the `Current_vel_mean` column. Store your answer in the `subset_na` variable.

In [99]:
subset_na = subset[coral_div['Current_vel_mean'].isna()]

/opt/python/3.7.13/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [100]:
# View the dataframe 
subset_na

     andrello_reef_value  TT_market_hrs  Diff_attenuation
99                  1611       0.783333             0.075
100                 1611       0.783333             0.075